
.review-section {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}
.review-user {
    display: flex;
    align-items: center;
    gap: 15px;
}
.review-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.active-tab {
    background-color: #5a379e !important;
}
.movie-header {
    margin-bottom: 20px;
}
.movie-header h1 {
    color: #6c63ff;
}
/* 기본 탭 스타일 */
.nav-tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* 탭 아이템 스타일 */
.nav-tabs .nav-item {
    flex: 1; /* 모든 탭이 균등한 너비를 가짐 */
    text-align: center;
    margin-bottom: -1px;
}

.nav-tabs .nav-link {
    color: #000; /* 기본 글자 색 */
    background-color: #C3B2FD; /* 연한 보라색 배경 */
    border: 1px solid #5a379e; /* 테두리 */
    border-radius: 0; /* 테두리 둥근 모서리 제거 */
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
}

.nav-tabs .nav-link:nth-child(2),
.nav-tabs .nav-link:nth-child(3),
.nav-tabs .nav-link:nth-child(4) {
    border-left: none;
}

/* 활성화된 탭 스타일 */
.nav-tabs .nav-link.active {
    background-color: white; 
    color: black; /* 흰색 글자 */
    border-bottom: none;
    border-color: #5a379e; /* 활성 탭 상단 테두리 유지 */
}

/* 호버 효과 */
.nav-tabs .nav-link:hover {
    background-color: white; 
    border-color: #5a379e; /* 활성 탭 상단 테두리 유지 */
}

.btn-purple {
    width: 100px;
    height: 50px;
    background-color: #583BBF;
    margin-right: 20px;
    color: white;
}
.btn-purple:hover {
    background-color: rgba(79, 31, 255, 0.7);
    color: white;
}

.thumbnail{
    width: 130px;
    height: 180px;
    object-fit: cover;
}