<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINISTRATOR</title>
    <!-- bootstrap css --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/script/jquery.js"></script>
    <script src="/script/adminScript.js"></script>
    <script src="/script/movieLi.js"></script>
    <style>
        .subLi{
            display: none;
        }
        .movieLi{
            display: none;
        }
    </style>
</head>
<body>
    <div class="container-fluid " style="height: 720px;">
        <br>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <h1><a href="/admin">ADMINISTRATOR : <span class="adminTitle" sec:authentication="principal.user.name"></span></a></h1>
                <hr class="w-50 ms-0">
            </div>
            <h5><a style="margin-right: 100px;" href="/">홈으로</a></h5>
        </div>
        <div class="row" style="height: 90%;">
            <div class="col-md-2">
                <div style="margin-top: 100px; font-size: 26px;">
                    <ul>
                        <li><a href="/admin/cinema/list" >영화관</a></li>
                        <li class="mainLi">
                            <a href="/admin/movie/list">영화관리</a>
                            <nav class="movieLi">
                                <li><a href="/admin/movie/list" >영화 관리</a></li>
                                <li><a href="/admin/cast/list">출연진 관리</a></li>
                            </nav>
                          </li>
                        <li class="mainLi">
                            <a href="/admin/userManager/user/list">유저관리</a>
                            <nav class="subLi">
                                <li><a href="/admin/userManager/user/list">유저 관리</a></li>
                                <li><a href="/admin/userManager/auth/list" >권한 관리</a></li>
                            </nav>
                        </li>
                        <li><a href="/admin/banner/list" >배너관리</a></li>
                        <li><a href="/admin/reviewManager/list">리뷰관리</a></li>
                        <li><a href="/admin/notice/list" style="color: blue;">공지관리</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <br>
                <h1>공지 조회</h1>
                <br>
                <table style="width: 100%;">
                    <tr>
                        <th style="padding: 12px 0; width: 20%; text-align: center;">
                            제목
                        </th>
                        <td>
                            <li th:text="${notice.title}"></li>
                        </td>
                    </tr>
                    <tr>
                        <th style="padding: 12px 0; width: 20%; text-align: center;">내용</th>
                        <td>
                            <li style="white-space: pre-line;" th:text="${notice.content}"></li>
                        </td>
                    </tr>
                    <tr>
                        <th style="padding: 12px 0; width: 20%; text-align: center;">생성일자</th>
                        <td>
                            <li th:text="${ #dates.format( notice.regDate, 'yyyy-MM-dd (E) HH:mm' ) }"></li>
                        </td>
                    </tr>
                <tr>
                    <th style="padding: 12px 0; width: 20%; text-align: center;">수정일자</th>
                    <td>
                        <li th:text="${ #dates.format( notice.updDate, 'yyyy-MM-dd (E) HH:mm' ) }"></li>
                    </td>
                </tr>

                </table>
                <br>
                <div style="display: flex; justify-content: center;">
                    <a href="/admin/notice/list" class="btn btn-primary" style="margin-right: 20px;">취소</a>
                    <a th:href="|/admin/notice/update?id=${notice.id}|" class="a_butten">수정</a>
                </div>
            </form>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <br><br><br><br><br><br>
        <br><br><br>

    </div>
</body>
</html>