<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/noticeSelect.css">
</head>
<body layout:fragment="content">
    <div class="title" style="margin-bottom: 80px;">
        <h5 style="color: white;">고객센터</h5>
    </div>
    <div class="container" style="min-height: 400px; margin-bottom: 120px;">
        <div class="d-flex justify-content-between p-3 notice-title" style="background-color: rgb(243, 243, 243); border-top: 1px solid gray;">
            <h5 th:text="${inquiry.title}"></h5>
            <div class="d-flex">
                <h6 class="me-3" th:text="|등록일 : ${ #dates.format( inquiry.regDate, 'yyyy.MM.dd' ) }|"></h6>
                <h6 th:text="|작성자 : ${inquiry.username}|"></h6>
            </div>
        </div>
        <p th:text="${inquiry.content}" class="w-100 p-3 notice-content mb-3" style="white-space: pre-wrap;"></p>
        <div class="mb-5">
            <th:block th:if="${inquiry.username == #authentication.name}">
                <a class="btn list-btn me-2" th:href="|/inquiry/update?id=${inquiry.id}|">수정</a>
                <button class="btn cancel-btn me-2" th:onclick="deleteInquiry([[${inquiry.id}]])">삭제</button>
            </th:block>
            <th:block th:unless="${inquiry.username == #authentication.name}" sec:authorize="hasAnyRole('ROLE_SUPER', 'ROLE_INQUIRY')">
                <a class="btn list-btn me-2" th:href="|/inquiry/update?id=${inquiry.id}|">수정</a>
                <button class="btn cancel-btn me-2" th:onclick="deleteInquiry([[${inquiry.id}]])">삭제</button>
            </th:block>
            <a class="btn custom-btn me-2" href="/inquiry/list">목록</a>
        </div>
        <div class="mb-5">
            <th:block th:if="${inquiry.reply!=null && inquiry.reply!=''}">
                <form action="/inquiry/replyUpdate" method="post">
                    <!-- CSRF TOKEN -->
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <input type="hidden" name="id" th:value="${inquiry.id}">
                    <div>
                        <h5>답변</h5>
                        <textarea id="updateArea" name="reply" class="form-control reply-content p-3 mb-3" th:text="${inquiry.reply}" onChange="heightResize(this)" style="display: none;"></textarea>
                        <p id="replyP" class="p-3 w-100" style="white-space: pre-wrap; background-color: #f5f4f4;" th:text="${inquiry.reply}"></p>
                        <th:block sec:authorize="hasAnyRole('ROLE_SUPER', 'ROLE_INQUIRY')">
                            <button class="btn list-btn" type="button" style="display: inline-block;" id="update-btn" onclick="enableEditing(this)">수정</button>
                        </th:block>
                        <button class="btn custom-btn" type="submit" style="display: none;" id="save-btn">저장</button>
                        <button class="btn cancel-btn me-2" type="button" style="display: none;" id="cancel-btn" onclick="cancelEdit(this)">취소</button>
                    </div>
                </form>
            </th:block>
            <th:block th:if="${inquiry.reply==null || inquiry.reply==''}">
                <th:block sec:authorize="hasAnyRole('ROLE_SUPER', 'ROLE_INQUIRY')">
                    <form action="/inquiry/replyUpdate" method="post">
                        <!-- CSRF TOKEN -->
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <input type="hidden" name="id" th:value="${inquiry.id}">
                        <h5>답변</h5>
                        <textarea name="reply" class="form-control reply-content p-3 mb-3" th:text="${inquiry.reply}"></textarea>
                        <input type="submit" class="btn list-btn" value="작성">
                    </form>
                </th:block>
            </th:block>
        </div>
    </div>
    <script>

        function deleteInquiry(id) {
            if (confirm("정말로 삭제하시겠습니까?")) {
                window.location.href = "/inquiry/delete?id=" + id; 
            }
        }

        function enableEditing(button) {
            const form = button.closest('form');
            const textarea = document.getElementById('updateArea');
            const cancelButton = document.getElementById('cancel-btn');
            const saveButton = document.getElementById('save-btn');
            const replyP = document.getElementById('replyP');

            textarea.style.display = 'inline-block';
            textarea.focus();

            button.style.display = 'none';
            cancelButton.style.display = 'inline-block';
            saveButton.style.display = 'inline-block';
            replyP.style.display = 'none';
        }

        function cancelEdit(button) {
            console.log('취소 버튼 클릭');

            const form = button.closest('form');
            const textarea = document.getElementById('updateArea');
            const editButton = document.getElementById('update-btn');
            const cancelButton = document.getElementById('cancel-btn');
            const saveButton = document.getElementById('save-btn');

            textarea.style.display = 'none';

            cancelButton.style.display = 'none';
            saveButton.style.display = 'none';
            editButton.style.display = 'inline-block';
            replyP.style.display = 'inline-block';
        }

        function heightResize(textarea){
            console.log('텍스트 에어리어')
            const rowCount = value.split(/\r\n|\r|\n/).length;
            textarea.style.height= (rowCount * 18) + "px";
        }
    </script>
</body>
</html>