<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.aloha.movie_project.mapper.BoardMapper">

    <!-- 목록 -->
    <select id="list" resultType="Board">
        SELECT *
        FROM board
        <if test="option.orderCode == 0">
             ORDER BY created_at DESC
        </if>
        <if test="option.orderCode == 1">
            ORDER BY title ASC
        </if>
        LIMIT #{page.index}, #{page.rows}
    </select>

    <!-- 검색 -->
    <select id="search" resultType="Board">
        SELECT *
        FROM board
        WHERE (
        (title LIKE CONCAT('%', #{search}, '%') OR #{search} IS NULL)
        and ((#{searchCode} = 0) or (#{searchCode} = 3) or (#{searchCode} = 4))
        )
        OR (
        (writer LIKE CONCAT('%', #{search}, '%') OR #{search} IS NULL)
        and ((#{searchCode} = 1) or (#{searchCode} = 4))
        )
        OR (
        (content LIKE CONCAT('%', #{search}, '%') OR #{search} IS NULL)
        and ((#{searchCode} = 2) or (#{searchCode} = 3) or (#{searchCode} = 4))
        )
        <if test="option.orderCode == 0">
             ORDER BY created_at DESC
        </if>
        <if test="option.orderCode == 1">
             ORDER BY title ASC
        </if>
        LIMIT #{page.index}, #{page.rows}
    </select>

    <!-- 검색 -->
    <!-- <select id="search" resultType="Board">
        SELECT *
        FROM board
        WHERE
            <if test-"searchCode ==0">
                SQL문
            </if>
        ORDER BY created_at DESC
    </select> -->


    <!-- 조회 -->
    <select id="select" resultType="Board" >
        SELECT *
        FROM board
        WHERE id = #{id}
    </select>

    <!-- 등록 -->
    <!-- ⭐Mybatis 의 useGeneratedKeys 를 사용하면
          MySQL 의 AUTO_INCREMENT 되는 값을 전달한 객체에 지정한 변수로 매핑할 수 있다.    
     -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO board ( id, title,writer, user_no, content )
        VALUES ( #{id}, #{title}, #{writer}, #{userNo}, #{content} )
    </insert>

    <!-- 수정 -->
    <update id="update">
        UPDATE board 
           SET title = #{title}
              ,content = #{content}
              ,updated_at = now()
        WHERE id = #{id}
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        DELETE FROM board
        WHERE id = #{id}
    </delete>
    
    <select id = "count2" resultType="int">
        select count(*)
        from board
    </select>

    <select id = "count" resultType="int">
        select count(*)
        from board
        WHERE (
        (title LIKE CONCAT('%', #{search}, '%') OR #{search} IS NULL)
        and ((#{searchCode} = 0) or (#{searchCode} = 3) or (#{searchCode} = 4))
        )
        OR (
        (writer LIKE CONCAT('%', #{search}, '%') OR #{search} IS NULL)
        and ((#{searchCode} = 1) or (#{searchCode} = 4))
        )
        OR (
        (content LIKE CONCAT('%', #{search}, '%') OR #{search} IS NULL)
        and ((#{searchCode} = 2) or (#{searchCode} = 3) or (#{searchCode} = 4))
        )
    </select>

</mapper>