<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.aloha.movie_project.mapper.FileMapper">

    <!-- 목록 -->
    <select id="list" resultType="Files">
        SELECT * 
        FROM files
    </select>

    <!-- 조회 -->
    <select id="select" resultType="Files">
        SELECT * 
        FROM files
        WHERE id = #{id}
    </select>

    <!-- 조회 -->
    <select id="imageUpdate" parameterType="String" resultType="Files">
        SELECT * 
        FROM files
        WHERE fk_id = #{keyword}
    </select>

    <!-- 등록 -->
    <insert id="insert">
        INSERT INTO files ( 
            id, fk_table, fk_id, division, url
        )
        VALUES (
            #{id}, #{fkTable}, #{fkId}, #{division}, #{url}
        )
    </insert>

    <!-- 삭제 -->
	<delete id="delete">
        DELETE FROM files
        WHERE id = #{id}
    </delete>

    <!-- 부모테이블 기준 파일 목록(수정안됨) -->
    <select id="listByParent" resultType="Files">
        SELECT * 
        FROM files
        WHERE parent_table = #{parentTable}
          AND parent_no = #{parentNo}
    </select>

    <!-- 부모테이블 기준 파일 삭제(수정안됨) -->
    <delete id="deleteByParent" >
        DELETE FROM files
        WHERE parent_table = #{parentTable}
          AND parent_no = #{parentNo}
    </delete>
    
</mapper>