<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.aloha.movie_project.mapper.NoticeMapper">

     <select id="list" resultType="Notice">
       select * from notice 
      <if test="option==1">
      where
         title LIKE CONCAT('%', #{keyword}, '%')
      </if>
      <if test="option==2">
      where
         content LIKE CONCAT('%', #{keyword}, '%')
      </if>
       order by reg_date desc
     </select>

     <select id="mainNotice" resultType="Notice">
        select * from notice order by reg_date desc limit 3
     </select>

     <select id="select" resultType="Notice">
        select * 
        from notice
        where id = #{id}
     </select>

     <insert id="insert">
         insert into notice
         (id,title,content)
         VALUES
         (#{id},#{title},#{content})
     </insert>

     <update id="update">
         update notice
         set title = #{title}
            , content = #{content}
            , upd_date = now()
         where id = #{id}
     </update>

     <delete id="delete">
         delete from notice where id = #{id}
     </delete>

     <update id="addView">
         update notice
         set view = view + 1
         where id = #{id}
     </update>

     <select id="before" resultType="Notice">
        SELECT * 
        FROM notice
        <![CDATA[WHERE reg_date > (SELECT reg_date FROM notice WHERE id = #{id})]]>
        ORDER BY reg_date asc
        LIMIT 1;
     </select>
     <select id="after" resultType="Notice">
        SELECT * 
        FROM notice
        <![CDATA[WHERE reg_date < (SELECT reg_date FROM notice WHERE id = #{id})]]>
        ORDER BY reg_date desc
        LIMIT 1;
     </select>
</mapper>