<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.movie_project.mapper.UserMapper">

    <resultMap type="Users" id="userMap">
        <id property="id" column="id" />
        
        <result property="id" column="id" />
        <result property="pw" column="pw" />
        <result property="name" column="name" />
        <result property="email" column="email" />
        <result property="enabled" column="enabled" />
        <result property="regDate" column="reg_date" />
        <result property="updDate" column="upd_date" />
        
        <collection property="authList" resultMap="authMap"></collection>
    </resultMap>
        
    <resultMap type="UserAuth" id="authMap">
        <result property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="auth" column="auth" />
    </resultMap>

  
    <!-- 회원 조회 - id -->
    <select id="select" resultMap="userMap">
        SELECT u.id
              ,pw
              ,name
              ,email
              ,enabled
              ,reg_date
              ,upd_date
              ,auth
        FROM users u LEFT OUTER JOIN user_auth auth ON u.id = auth.user_id
        WHERE u.id = #{id}
    </select>

    <!-- 회원 가입 -->
    <insert id="join">
        INSERT INTO users ( id, pw, name, email, enabled)
        VALUES ( #{id}, #{pw}, #{name}, #{email}, #{enabled} )
    </insert>

    <!-- 회원 정보 수정 -->
    <update id="update">
        UPDATE users
           SET name = #{name}
              ,email = #{email}
              ,upd_date = now()
        WHERE id = #{id}
    </update>

    <!-- 회원 권한 등록 -->
    <insert id="insertAuth">
        INSERT INTO user_auth( user_id, auth )
        VALUES ( #{userId}, #{auth} )
    </insert>

</mapper>