<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 페이지</title>
    <!-- bootstrap css --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <th:block th:replace="~{fragment/header::header}"></th:block>

    <h1>사용자 페이지</h1>
    <h2>권한 : <span sec:authentication="principal.authorities"></span></h2>

    <ul>
        <li><a href="/">메인 화면</a></li>
        <li><a href="/user">사용자</a></li>
        <li><a href="/admin">관리자</a></li>
    </ul>
</body>
</html>