<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지-예메리스트</title>

    <style>
        .movie-card {
            border: 1px solid #ddd;
            border-radius: 8px;
            margin-bottom: 20px;
            padding: 15px;
        }
        .movie-poster {
            width: 150px;
            height: 200px;
            object-fit: cover;
            border-radius: 8px;
        }
        .btn-custom {
            background-color: #6c63ff;
            color: white;
            border: none;
        }
        .btn-custom:hover {
            background-color: #574feb;
        }
    </style>
    
</head>
<body layout:fragment="content">
    <!-- 영화 이미지 -->
    <div class="container" style="min-height: 800px; margin-top: 180px">
        <h1 class="mb-4">예매 목록</h1>
     <th:block th:each="reservationList : ${reservationList.list}">
            <div class="movie-card row align-items-center">
                <div class="col-md-2 text-center">
                    <img th:src="|/img?id=${reservationList.file}|" width="150" height="200" alt="Movie Poster" class="movie-poster">
                </div>
                <div class="col-md-7">
                    <h5 th:text="${reservationList.title}">제목</h5>
                    <p th:text="${reservationList.date} + ' (요일) ' +  ${reservationList.time}">년 월 일 시간</p>
                    <p th:text="'상영관 : ' + ${reservationList.theater}">상영관</p>
                    <p th:text="'좌석: '+${reservationList.seat}">좌석</p>
                </div>
                <div class="col-md-3 text-end">
                    <button class="btn btn-custom mb-2 w-100" th:onclick="detail([[${reservationList.id}]])">자세히 보기</button>
                    <button class="btn btn-outline-secondary w-100" th:onclick="remove([[${reservationList.id}]])">예약 취소</button>
                </div>
            </div>
    </th:block>
    <!-- 페이지네이션 -->
                <!-- ⚡ 유동적인 페이지 번호 출력 (pagehelper)  -->
                <th:block th:if="${reservationList.pages > 0}">
                    <div class="pagination flex justify-content-center" style="margin: 30px 0;">
                    <ul style="display: flex; list-style-type: none; gap: 10px;">
                        <li th:if="${reservationList.pageNum > 1}">
                            <a th:href="@{/m/rsList(page=1)}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16" class="icon" transform="scale(-1, 1)">
                                <path d="M224 239L29.66 44.66c-9.37-9.37-24.57-9.37-33.94 0L-26.34 67c-9.37 9.37-9.37 24.57 0 33.94L128.97 256-26.34 410.05c-9.37 9.37-9.37 24.57 0 33.94l22.34 22.34c9.37 9.37 24.57 9.37 33.94 0L224 273c9.37-9.37 9.37-24.57 0-33.94zM448 273L253.66 467.34c-9.37 9.37-24.57 9.37-33.94 0L197.34 445c-9.37-9.37-9.37-24.57 0-33.94L352.97 256 197.34 100.95c-9.37-9.37-9.37-24.57 0-33.94l22.34-22.34c9.37-9.37 24.57-9.37 33.94 0L448 239c9.37 9.37 9.37 24.57 0 33.94z"/>
                                </svg>
                            </a>
                        </li>
                        <li th:if="${reservationList.hasPreviousPage}">
                            <a th:href="@{/m/rsList(page=${reservationList.prePage})}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="16" height="16" class="icon"><path d="M34.52 239l194.34-194.34c9.37-9.37 24.57-9.37 33.94 0l22.34 22.34c9.37 9.37 9.37 24.57 0 33.94L128.97 256l156.17 156.17c9.37 9.37 9.37 24.57 0 33.94l-22.34 22.34c-9.37 9.37-24.57 9.37-33.94 0L34.52 273c-9.37-9.37-9.37-24.57 0-33.94z"/></svg>
                            </a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(reservationList.navigateFirstPage, reservationList.navigateLastPage)}">
                            <a  th:href="@{/m/rsList(page=${i})}" 
                                th:text="${i}"
                                class="page"
                                th:classappend="${reservationList.pageNum == i} ? 'active' : ''"></a>
                        </li>
                        <li th:if="${reservationList.hasNextPage}">
                            <a th:href="@{/m/rsList(page=${reservationList.nextPage})}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="16" height="16" class="icon"><path d="M285.48 273l-194.34 194.34c-9.37 9.37-24.57 9.37-33.94 0l-22.34-22.34c-9.37-9.37-9.37-24.57 0-33.94L191.03 256 34.86 99.83c-9.37-9.37-9.37-24.57 0-33.94l22.34-22.34c9.37-9.37 24.57-9.37 33.94 0L285.48 239c9.37 9.37 9.37 24.57 0 33.94z"/></svg>
                            </a>
                        </li>
                        <li th:if="${reservationList.pageNum < reservationList.pages}">
                            <a th:href="@{/m/rsList(page=${reservationList.pages})}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16" class="icon">
                                <path d="M224 239L29.66 44.66c-9.37-9.37-24.57-9.37-33.94 0L-26.34 67c-9.37 9.37-9.37 24.57 0 33.94L128.97 256-26.34 410.05c-9.37 9.37-9.37 24.57 0 33.94l22.34 22.34c9.37 9.37 24.57 9.37 33.94 0L224 273c9.37-9.37 9.37-24.57 0-33.94zM448 273L253.66 467.34c-9.37 9.37-24.57 9.37-33.94 0L197.34 445c-9.37-9.37-9.37-24.57 0-33.94L352.97 256 197.34 100.95c-9.37-9.37-9.37-24.57 0-33.94l22.34-22.34c9.37-9.37 24.57-9.37 33.94 0L448 239c9.37 9.37 9.37 24.57 0 33.94z"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    </div>
                </th:block>
    </div>
    
    <script th:inline="javascript">
        var reservationList = /*[[${reservationList}]]*/ [];
    
        // 출력(값불러오기) 예문
        console.log("리스트 : ", reservationList); // list[] 안에있는 모든값 로그 출력
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function detail(id){
            location = "/m/payment?id="+id;
        }

        function remove(id){

            let data = {
                'id' : id
            };

            if (confirm("삭제하시겠습니까?")) {
            let request = new XMLHttpRequest();
            let url = '/m/delete';
            request.open('DELETE', url, true);
            request.setRequestHeader('Content-Type', 'application/json');
            let csrfToken = "[[${_csrf.token}]]";
            request.setRequestHeader("X-CSRF-TOKEN", csrfToken);
            request.onreadystatechange = function() {
            if( request.readyState == request.DONE && request.status == 200){
                let response = request.responseText
                if(response == 'SUCCESS'){
                    console.log('예매 취소 성공')
                    window.location.href = "/m/rsList";
                }
                else{
                    alert('예매 취소 실패')
                }
            }}

            request.send(JSON.stringify(data));
            }
        }
    </script>
</body>

</html>