<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINISTRATOR</title>
    <!-- bootstrap css --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/script/jquery.js"></script>
    <script src="/script/adminScript.js"></script>
    <style>
        .subLi{
            display: none;
        }
    </style>
</head>
<body>
    <div class="container-fluid " style="height: 1000px;">
        <br>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <h1><a href="/admin">ADMINISTRATOR : <span class="adminTitle" sec:authentication="principal.user.name"></span></a></h1>
                <hr class="w-50 ms-0">
            </div>
            <h5><a style="margin-right: 100px;" href="/">홈으로</a></h5>
        </div>
        <div class="row" style="height: 90%;">
            <div class="col-md-2">
                <div style="margin-top: 100px; font-size: 26px;">
                    <ul>
                        <li><a href="/admin/cinema/updateList" style="color: blue;">영화관 관리</a></li>
                        <li><a href="/admin/movie/list" >영화관리</a></li>
                        <li class="mainLi">
                            <a href="/admin/userManager/user/list">유저관리</a>
                            <nav class="subLi">
                                <li><a href="/admin/userManager/user/list">유저 관리</a></li>
                                <li><a href="/admin/userManager/auth/list" >권한 관리</a></li>
                            </nav>
                        </li>
                        <li><a href="/admin/banner/list">배너관리</a></li>
                        <li><a href="/admin/reviewManager/list">리뷰관리</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <br>
                <h1>영화관 조회</h1>
                <br>
                <div style="display: flex;">
                    <th:block th:each="files : ${cinema.filesList}">
                        <th:block th:if="${files.division == 'main'}">
                            <img class="w-25 mx-auto" style="overflow: hidden;" th:src="|/img?id=${files.id}|" th:alt="${files.id}">
                        </th:block>
                    </th:block>
                    <table style="width: 100%;">
                        <tr>
                            <th style="padding: 12px 0; width: 20%; text-align: center;">
                                지역
                            </th>
                            <td>
                                <li th:text="${cinema.area}"></li>
                            </td>
                        </tr>
                        <tr>
                            <th style="padding: 12px 0; width: 20%; text-align: center;">내용</th>
                            <td>
                                <li th:text="${cinema.areaSub}"></li>
                            </td>
                        </tr>
                        <tr>
                            <th style="padding: 12px 0; width: 20%; text-align: center;">권한</th>
                            <td>
                                <li th:text="${cinema.auth}"></li>
                            </td>
                        </tr>
                    </table>
                </div>
                <br><br><br>
                <div>
                    <h4>풍경</h4>
                    <div style="display: grid; grid-template-columns: repeat(3,1fr); column-gap: 30px; row-gap: 30px;">
                        <th:block th:each="files : ${cinema.filesList}">
                            <th:block th:if="${files.division == 'main'}">
                                <img class="w-100 mx-auto" style="overflow: hidden;" th:src="|/img?id=${files.id}|" th:alt="${files.id}">
                            </th:block>
                        </th:block>
                    </div>
                </div>
                <br><br>
                <div style="display: flex; justify-content: center;">
                    <a href="/admin/cinema/updateList" class="btn btn-primary" style="margin-right: 20px;">취소</a>
                    <a th:href="|/admin/cinema/update?id=${cinema.id}|" th:text="수정" class="a_butten"></a>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br>
    </div>



</body>
</html>