<table border="1">
    <tr>
        <th>no</th>
        <th>
            <input type="checkbox" id="delete-all" onclick="checkAll()">
        </th>
        <th>이미지</th>
        <th>파일명</th>
        <th>용량</th>
        <th>타입</th>
        <th>액션</th>
    </tr>
    <th:block th:each="file : ${fileList}">
        <tr>
            <td><span th:text="${file.no}"></span></td>
            <td>
                <input type="checkbox" class="delete-file" name="deleteFiles" th:value="${file.id}">
            </td>
            <td>
                <img th:src="|/img?id=${file.id}|" height="100"  alt="파일 이미지">
            </td>
            <td><span th:text="${file.fileName}"></span></td>
            <td><span th:text="${file.fileSize}"></span></td>
            <td><span th:text="${file.type}"></span></td>
            <td>
                <button type="button" th:onclick="download( [[${file.id}]] )">다운로드</button>
                <button type="button" th:onclick="removeFile( this, [[${file.id}]] )">삭제</button>
            </td>
        </tr>
    </th:block>
</table>