<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
    <!-- bootstrap css --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <th:block th:replace="~{fragment/header::header}"></th:block>
    <div class="container">
    <div class="row">
    <div style="display: flex; flex-direction: column; justify-items: center; align-items: center;">
    <br><br>
    <h1>게시글 목록</h1>
    <form action="/board/list" id="form">
        <!-- CSRF TOKEN -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <div style="display: flex; justify-content: space-between; width: 800px;">
            <a href="/board/insert">글쓰기</a>
            <div>
                <select id="rows" name="rows">
                    <option value="10" th:selected="${rows == 10}">10개</option>
                    <option value="30" th:selected="${rows == 30}">30개</option>
                    <option value="50" th:selected="${rows == 50}">50개</option>
                    <option value="100" th:selected="${rows == 100}">100개</option>
                </select>
                <select id="orderCode" name="orderCode">
                    <option value="0" th:selected="${option.orderCode == 0}">최신순</option>
                    <option value="1" th:selected="${option.orderCode == 1}">제목순</option>
                </select>
            </div>
    </div>


    <table border="1" style="width: 800px;">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일자</th>
                <th>수정일자</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:if="${boardList.isEmpty()}">
                <tr>
                    <td colspan="5" align="center">조회된 데이터가 없습니다.</td>
                </tr>
            </th:block>

            <th:block th:each="board : ${boardList}">
                <tr>
                    <td><span th:text="${board.no}"></span></td>
                    <td>
                        <a href="" th:href="|/board/select?id=${board.id}|"
                                   th:text="${board.title}">
                            제목
                        </a>
                    </td>
                    <td><span th:text="${board.writer}"></span></td>
                    <td align="center">
                        <span th:text="${ #dates.format( board.createdAt, 'yyyy-MM-dd HH:mm:ss' ) }"></span>
                    </td>
                    <td align="center">
                        <span th:text="${ #dates.format( board.updatedAt, 'yyyy-MM-dd HH:mm:ss' ) }"></span>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <br>
        <th:block th:if="${search == null}">
                   <!-- 페이지 네이션-->
        <div>
            <!-- 처음 -->
            <a th:href="|/board/list?page=${page.first}|">[처음]</a>
            <!-- 이전 -->
            <th:block th:if="${page.page != page.first}">
                <a th:href="|/board/list?page=${page.prev}|">[이전]</a>
            </th:block>
            <!-- 페이지 번호-->
            <!--
                ${#numbers.sequence( 시작 , 끝)}
                : 시작번호부터 끝번호 까지 리스트를 생성
            -->
            <th:block th:each="no : ${#numbers.sequence( page.start, page.end)}">
                <!--현재 페이지-->
                <th:block th:if="${page.page == no}">
                    <b><span th:text="${no}"></span></b>
                </th:block>
                <th:block th:if="${page.page != no}">
                    <a th:href="|/board/list?page=${no}|" th:text="${no}"></a>
                </th:block>
                
            </th:block>
            <!-- 다음-->
            <th:block th:if="${page.page != page.last}">
                <a th:href="|/board/list?page=${page.next}|">[다음]</a>
            </th:block>
            <!-- 마지막-->
            <a th:href="|/board/list?page=${page.last}|">[마지막]</a>
    
    
        </div>
        </th:block>

        <!-- URL 다른 방법 -->
        <!-- 
        th:href="@{/path(매핑변수=${매핑값},매핑변수=${매핑값})}"

        UriComponentsBuilder : 동적 URL 유틸리티
        -->

        <th:block th:if="${search != null}">
                   <!-- 페이지 네이션-->
        <div>
            <!-- 처음 -->
            <a th:href="|/board/list?page=${page.first}&search=${search}&searchCode=${searchCode}&rows=${page.rows}&orderCode=${option.orderCode}|">[처음]</a>
            <!-- 이전 -->
            <th:block th:if="${page.page != page.first}">
                <a th:href="|/board/list?page=${page.prev}&search=${search}&searchCode=${searchCode}&rows=${page.rows}&orderCode=${option.orderCode}|">[이전]</a>
            </th:block>
            <!-- 페이지 번호-->
            <!--
                ${#numbers.sequence( 시작 , 끝)}
                : 시작번호부터 끝번호 까지 리스트를 생성
            -->
            <th:block th:if="${page.page > 3 }">
                <th:block th:each="no : ${#numbers.sequence( page.page - 2, page.page + 2)}">
                    <!--현재 페이지-->
                    <th:block th:if="${page.page == no}">
                        <b><span th:text="${no}"></span></b>
                    </th:block>
                    <th:block th:if="${page.page != no && (no < page.end+1)}">
                        <!-- <a th:href="|/board/list?page=${no}&search=${search}&searchCode=${searchCode}&rows=${page.rows}&orderCode=${option.orderCode}|" th:text="${no}"></a> -->
                        <!-- <a th:href="@{/board/list(page=${no}, search=${search},
                        searchCode=${searchCode}, row=${page.rows},
                        orderCode=${option.orderCode})}" th:text="${no}"></a> -->
                        <a th:href="@{ ${pageUrl} + '&page='+${no} }" th:text="${no}"></a>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:if="${page.page < 4 }">
                <th:block th:each="no : ${#numbers.sequence( page.start, page.start+4)}">
                    <!--현재 페이지-->
                    <th:block th:if="${page.page == no}">
                        <b><span th:text="${no}"></span></b>
                    </th:block>
                    <th:block th:if="${page.page != no}">
                        <a th:href="@{ ${pageUrl} + '&page='+${no} }" th:text="${no}"></a>
                    </th:block>
                </th:block>
            </th:block>

            <!-- 다음-->
            <th:block th:if="${page.page != page.last}">
                <a th:href="|/board/list?page=${page.next}&search=${search}&searchCode=${searchCode}&rows=${page.rows}&orderCode=${option.orderCode}|">[다음]</a>
            </th:block>
            <!-- 마지막-->
            <a th:href="|/board/list?page=${page.last}&search=${search}&searchCode=${searchCode}&rows=${page.rows}&orderCode=${option.orderCode}|">[마지막]</a>
    
    
        </div>
        </th:block>
    <br>
    <div>
        
            <select id="searchCode" name="searchCode" th:value=${searchCode}>
                <option value="4" th:selected="${searchCode == 4}">전체</option>
                <option value="0" th:selected="${searchCode == 0}">제목</option>
                <option value="1" th:selected="${searchCode == 1}">작성자</option>
                <option value="2" th:selected="${searchCode == 2}">내용</option>
                <option value="3" th:selected="${searchCode == 3}">제목+내용</option>
            </select>
            <input type="text" name="search" id="search" th:value="${search}"/>
            <input type="submit" value="검색"/>  
    </div>
    </form>
        
        
    </div>
    </div>
    </div>
    


    <script>
        document.addEventListener("DOMContentLoaded",function(){
            const $rows = document.getElementById('rows')
            const $form = document.getElementById('form')
            const $orderCode = document.getElementById('orderCode')
            //필터 - 개수변경 시
            $rows.addEventListener('change',function(){
                $form.submit()
            })
            //필터 - 순서 변경 시
            $orderCode.addEventListener('change',function(){
                $form.submit()
            })
        })
    </script>
</body>
</html>