<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINISTRATOR</title>
    <!-- bootstrap css --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/script/jquery.js"></script>
    <script src="/script/adminScript.js"></script>
    <style>
        .subLi{
            display: none;
        }
    </style>
    <!-- <script src="/script/adminScript.js"></script> -->
</head>
<body>
    <div class="container-fluid" style="height: 98vh;">
        <br><!--<span sec:authentication="name"></span> -->
        <h1><a href="/admin">ADMINISTRATOR : <span class="adminTitle" sec:authentication="principal.user.name"></span></a></h1>
        <hr class="w-50 ms-0">
        <div class="row" style="height: 90%;">
            <div class="col-md-2" style="border: 1px solid black;">
                <div style="margin-top: 100px; font-size: 26px;">
                    <ul>
                        <li><a href="/admin/cinema/list" style="color: blue;">영화관</a></li>
                        <li class="mainLi">
                            <a href="/admin/userManager/user/list">유저관리</a>
                            <nav class="subLi">
                                <li><a href="/admin/userManager/user/list">유저 관리</a></li>
                                <li><a href="/admin/userManager/auth/list">권한 관리</a></li>
                            </nav>
                        </li>
                        <li><a href="/admin/reviewManager/list">리뷰관리</a></li>
                        <!-- <br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br>
                        <li><a href="#">영화관삭제</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-8" style="text-align: center; border: 1px solid black; padding: 20px;">
                <h1>영화관 관리</h1>
                <br>
                <div class="row">
                    <div style="display: grid; grid-template-columns: repeat(3,1fr); 
                    column-gap: 20px; row-gap: 20px;">
                        <th:block th:each="i : ${#numbers.sequence(1, 6)}">
                            <div class="card">
                                <img class="mx-auto" src="" alt="상영관 사진">
                                <span class="mx-auto" th:text="'상영관 ' + ${i}">상영관 이름</span>
                            </div>
                        </th:block>
                    </div>
                    <div style="border: 1px solid black; text-align: center; margin-top: 30px;">
                        <span>
                            <a href=""><<<<<<<<>>>>>>>>>></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="border: 1px solid black;">
                <div style="margin-top: 100px; font-size: 26px;">
                    <ul class="mt-5">
                        <li><a href="/admin/cinema/insert">영화관 생성</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</body>
</html>