<div class="row g-6">
    <input type="hidden" id="count" th:value="${count}">
    <th:block th:if="${myReview != null}">
        <div class="col-md-6">
            <div class="review-section d-flex justify-content-between myReview">
                <div class="review-user">
                    <img th:src="${myReview.fileId != null} ? |/img?id=${myReview.fileId}| : @{/image(id='C:/upload/normal.png')}">
                    <div>
                        <p th:text="${myReview.username}" style="margin: 0;"></p>
                        <div class="star-ratings">
                            <div 
                            class="star-ratings-fill space-x-2 text-lg"
                            th:style="|width: ${myReview.ratingValue*20+1}% |"
                            >
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                            <div class="star-ratings-base space-x-2 text-lg">
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                        </div>
                        <p th:text="${myReview.content}" style="white-space: pre-wrap;"></p>
                    </div>
                </div>
                <th:block th:if="${myReview.username == #authentication.name}">

                        <div class="dropdown dropstart">
                            <button class="btn btn-light custom-dropdown-btn myReview" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                &#8942; <!-- ⋮ 기호 -->
                            </button>
                            <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                              <li>
                                <button class="btn edit-review dropdown-item" 
                                th:attr="data-id=${myReview.id}, 
                                data-rating=${myReview.ratingValue}, 
                                data-content=${myReview.content}"  
                                data-bs-toggle="modal" 
                                data-bs-target="#updateModal"><i class="fa-solid fa-pencil"></i>&nbsp; 수정</button>
                              </li>
                              <li>
                                <hr class="dropdown-divider"> <!-- 구분선 -->
                            </li>
                              <li>
                                <button class="btn dropdown-item" th:onclick="deleteReview([[${myReview.id}]],[[${movieId}]])"><i class="fa-solid fa-trash-can"></i>&nbsp; 삭제</button>
                              </li>
                            </ul>
                        </div>

                </th:block>
            </div>
        </div>
    </th:block>
    <th:block th:each="review : ${reviewList.list}">
        <div class="col-md-6">
            <div class="review-section d-flex justify-content-between">
                <div class="review-user">
                    <img th:src="${review.fileId != null} ? |/img?id=${review.fileId}| : @{/image(id='C:/upload/normal.png')}">
                    <div>
                        <p th:text="${review.username}" style="margin: 0;"></p>
                        <div class="star-ratings">
                            <div 
                            class="star-ratings-fill space-x-2 text-lg"
                            th:style="|width: ${review.ratingValue*20+1}% |"
                            >
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                            <div class="star-ratings-base space-x-2 text-lg">
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                        </div>
                        <p th:text="${review.content}" style="white-space: pre-wrap;"></p>
                    </div>
                </div>
                <th:block th:if="${review.username == #authentication.name}">

                        <div class="dropdown dropstart">
                            <button class="btn btn-light custom-dropdown-btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                &#8942; <!-- ⋮ 기호 -->
                            </button>
                            <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                              <li>
                                <button class="btn edit-review dropdown-item" 
                                th:attr="data-id=${review.id}, 
                                data-rating=${review.ratingValue}, 
                                data-content=${review.content}"  
                                data-bs-toggle="modal" 
                                data-bs-target="#updateModal"><i class="fa-solid fa-pencil"></i>&nbsp; 수정</button>
                              </li>
                              <li>
                                <hr class="dropdown-divider"> <!-- 구분선 -->
                            </li>
                              <li>
                                <button class="btn dropdown-item" th:onclick="deleteReview([[${review.id}]],[[${movieId}]])"><i class="fa-solid fa-trash-can"></i>&nbsp; 삭제</button>
                              </li>
                            </ul>
                        </div>

                </th:block>
            </div>
        </div>
    </th:block>
</div>
<!-- 페이지네이션 -->
<!-- ⚡ 유동적인 페이지 번호 출력 (pagehelper)  -->
<th:block th:if="${reviewList.pages > 0}">
    <div class="pagination mt-5 flex justify-content-center">
        <ul style="display: flex; list-style-type: none; gap: 10px; justify-content: center;" id="pagination">
            <li th:if="${reviewList.pageNum > 1}">
                <a th:attr="data-page=1" class="custom-page">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16" class="icon" transform="scale(-1, 1)">
                        <path d="M224 239L29.66 44.66c-9.37-9.37-24.57-9.37-33.94 0L-26.34 67c-9.37 9.37-9.37 24.57 0 33.94L128.97 256-26.34 410.05c-9.37 9.37-9.37 24.57 0 33.94l22.34 22.34c9.37 9.37 24.57 9.37 33.94 0L224 273c9.37-9.37 9.37-24.57 0-33.94zM448 273L253.66 467.34c-9.37 9.37-24.57 9.37-33.94 0L197.34 445c-9.37-9.37-9.37-24.57 0-33.94L352.97 256 197.34 100.95c-9.37-9.37-9.37-24.57 0-33.94l22.34-22.34c9.37-9.37 24.57-9.37 33.94 0L448 239c9.37 9.37 9.37 24.57 0 33.94z"/>
                        </svg>
                </a>
            </li>
            <li th:if="${reviewList.hasPreviousPage}">
                <a th:attr="data-page=${reviewList.prePage}" class="custom-page">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="16" height="16" class="icon"><path d="M34.52 239l194.34-194.34c9.37-9.37 24.57-9.37 33.94 0l22.34 22.34c9.37 9.37 9.37 24.57 0 33.94L128.97 256l156.17 156.17c9.37 9.37 9.37 24.57 0 33.94l-22.34 22.34c-9.37 9.37-24.57 9.37-33.94 0L34.52 273c-9.37-9.37-9.37-24.57 0-33.94z"/></svg>
                </a>
            </li>
            <li th:each="i : ${#numbers.sequence(reviewList.navigateFirstPage, reviewList.navigateLastPage)}">
                <a th:attr="data-page=${i}"
                        class="custom-page" 
                        th:classappend="${reviewList.pageNum == i} ? 'active' : ''" 
                        th:text="${i}">
                </a>
            </li>
            <li th:if="${reviewList.hasNextPage}">
                <a th:attr="data-page=${reviewList.nextPage}" class="custom-page">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="16" height="16" class="icon"><path d="M285.48 273l-194.34 194.34c-9.37 9.37-24.57 9.37-33.94 0l-22.34-22.34c-9.37-9.37-9.37-24.57 0-33.94L191.03 256 34.86 99.83c-9.37-9.37-9.37-24.57 0-33.94l22.34-22.34c9.37-9.37 24.57-9.37 33.94 0L285.48 239c9.37 9.37 9.37 24.57 0 33.94z"/></svg>
                </a>
            </li>
            <li th:if="${reviewList.pageNum < reviewList.pages}">
                <a th:attr="data-page=${reviewList.pages}" class="custom-page">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16" class="icon">
                        <path d="M224 239L29.66 44.66c-9.37-9.37-24.57-9.37-33.94 0L-26.34 67c-9.37 9.37-9.37 24.57 0 33.94L128.97 256-26.34 410.05c-9.37 9.37-9.37 24.57 0 33.94l22.34 22.34c9.37 9.37 24.57 9.37 33.94 0L224 273c9.37-9.37 9.37-24.57 0-33.94zM448 273L253.66 467.34c-9.37 9.37-24.57 9.37-33.94 0L197.34 445c-9.37-9.37-9.37-24.57 0-33.94L352.97 256 197.34 100.95c-9.37-9.37-9.37-24.57 0-33.94l22.34-22.34c9.37-9.37 24.57-9.37 33.94 0L448 239c9.37 9.37 9.37 24.57 0 33.94z"/>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</th:block>