<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>영화 좌석선택 페이지</title>
  <link rel="stylesheet" href="/css/ticket.css">
  <style>
      .mapBACHI{
        display: flex;
        width: 100%;
        margin: 4px;
      }
      .mapBACHI2{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        /* overflow-y: scroll; */
      }
  </style>
</head>
<body layout:fragment="content">
  <style>
    
  </style>
  <div class="container-fluid p-0 d-flex">
    <div class="header flex-fill"></div>
    <div class="container p-0">
        <!-- 본문 -->
        <div class="row  m-0 p-0 w-100 col-3 text-center">
            <div class="col p-0">
                <!-- 좌석 -->
                <div class="header"><h5>좌석 선택</h5></div>
                <div class="content p-0">
                  
                  <div style="width: 100%; height:100%; position: relative; align-items: center;">
                    
                    <div class="mapBACHI2 " id="map" style="position: absolute; left: 50%; top:4%; transform: translate(-45%, 0);" >
                      <div style="width: 80%; height: 30px;  margin-left: -60px; background-color: gray; text-align: center; margin-bottom: 20px;">
                        <h1 style="margin-top: -5px; font-size: 30px; ">SCREEN</h1>
                      </div>
                      <!-- 비동기 동적 생성?? -->
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header flex-fill"></div>
  </div>
  <!-- 하단 바 -->
  <div class="container-fluid b-top">
    <div class="container d-flex justify-content-between p-0" style="height:200px;">
        <div class="align-content-center">
            <div class="d-flex reserve-img">
                <img th:src="|/img?id=${movie.files.id}|">
                <div class="align-content-center ms-5">
                  <h3 th:text="${movie.title}"></h3>
                </div>
                <div class="align-content-center ms-5">
                    <!-- <p class="m-1">영화 &nbsp; &nbsp; &nbsp; <span id="theater-info" th:text="${movieName}"></span></p> -->
                    <p class="m-1">명수 &nbsp; &nbsp; &nbsp; <span type="number" id="person" th:text="${person}" th:person="${person}"> </span>
                    <p class="m-1">좌석 &nbsp; &nbsp; &nbsp; <span id="seat"></span></p>
                </div>
            </div>
        </div>
        <div class="align-content-center">
            <button class="btn reserve-btn" id="reservation" onclick="reservation()"><i class="fa-solid fa-angle-right fa-3x"></i><p>예매하기</p></button>
        </div>
    </div>
  </div>

  <script th:inline="javascript">
    var mapData = /*[[${mapData}]]*/ [];
    var reservationSeat = /*[[${reservationSeat}]]*/ [];

    // 출력(값불러오기) 예문
    // console.log("리스트 : ", mapData); // list[] 안에있는 모든값 로그 출력
  </script>


  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>

  <style>
    .seat.available {
        background-color: #e0e0e0;
        color: #000;
      }
    .seat {
        width: 40px;
        height: 40px;
        /* margin: 5px; */
        margin-right: 5px;
        margin-bottom: -2px;
        text-align: center;
        line-height: 40px;
        border-radius: 5px;
        font-size: 10px;
      }
      /* 이미 예약된 좌석 X 표시 */
      .close {position:relative;float:left;display:inline-block;width:40px;height:40px;text-align:center;}
      .close2:after {content: "\00d7"; font-size:25pt;line-height:40px;}
  </style>

  <script>
        // 2️⃣  객체 초기화 하기
        var IMP = window.IMP; 
        // IMP.init("imp67011510"); 
        IMP.init("imp00366386"); 
      
        var orderId = "IMP"+crypto.randomUUID();
        let potName = "[[${authUser.name}]]"
        let potEmail = "[[${authUser.email}]]"
      
      console.log(reservationSeat);
      let boidcount = 0;
      var x = mapData[0].length; 
      var y = mapData.length;
      let ascii = 65; // 정수 = 'A'
      // console.log("Y = " + y)
      // console.log("X = " + x)
      
      var mapdiv = document.getElementById("map")
      if(y > 9){
        mapdiv.classList.add(("scroll"));
        mapdiv.style.overflowX = "hidden";

      }
      for(var n = 0; n < y; n++){
        let boidcountCheck=0
        // console.log(mapData[n])
        // console.log(mapData[n][0]);
        var map = document.createElement("div")
        let ascii2 = String.fromCharCode(ascii); // 아스키코드 문자변환
        map.id = ascii2;
        map.className="mapBACHI"
        
        
        // map.textContent = mapData[n][0];
        mapdiv.appendChild(map);

        // 좌석 생성
        var count = 1;
        for(var mapdate of mapData[n]){
          // console.log(map)
          var seat = document.createElement("div");
          seat.className = "seat available";
          var seatId = ascii2+count;count++;
          seat.setAttribute("seat", mapdate);
          seat.setAttribute("seatNumber", seatId);
          seat.id = seatId;
          seat.textContent = seatId;
          map.appendChild(seat);
          if(mapdate == "통로" || mapdate == (seatId+"_통로")){
            boidcountCheck++
            var seat1 = document.createElement("div")
            seat1.className = "seat";
            map.appendChild(seat1)
            // seat.style.marginRight = "50px"
            // console.log(mapdate)
          }
        }
        if(boidcount<boidcountCheck){
          boidcount = boidcountCheck
        }


        // 좌석 통로 구분
        count = 1;
        for(var [index, mapdate] of mapData[n].entries()){
          // console.log(ascii2 + " : " + index); // index 번호 0~끝까지 찍는 예제
          var seatId = ascii2 + count; count++;
          var seat = document.getElementById(seatId);
          if(mapdate == "통로" || mapdate == (seatId+"_통로")){
            // var seat1 = document.createElement("div")
            // seat1.className = "seat";
            // map.appendChild(seat1)
            // seat.style.marginRight = "50px"
          }
          else if(mapdate == "null"){
            seat.textContent = "";
            // seat.className = "";
          }

          if(mapdate == "null" || mapdate == "통로"){
            seat.className = "seat";
            seat.textContent = "";
            seat.style.backgroundColor = "";
          }
          else{
            seat.classList.add("select");
          }
        }

        // 좌석 빨간색 X 처리
        count = 1;
        for(var mapdate of mapData[n]){
          var seatId = ascii2+count;count++;
          
          for(var seat of reservationSeat){
            if(seatId == seat){
              console.log(seat);
              var noneSeat = document.getElementById(seatId);
              noneSeat.classList.remove("select") 
              noneSeat.style.backgroundColor = "Red";
              noneSeat.style.color = "white";
              noneSeat.textContent = "";
              noneSeat.classList.add("close");
              noneSeat.classList.add("close2");
            }
          }
        }

        ascii++;
      }

      let sjfql = document.getElementsByClassName("mapBACHI2")
      for (let i = 0; i < sjfql.length; i++) {
           if((40*y+(y+2)*4+8)>800){
            sjfql[i].style.height = "400px";
           }
           else{
            sjfql[i].style.width = 42*(x+2+boidcount)+"px";
            sjfql[i].style.height = (40*y+(y+2)*4+8)+"px";
           }
      }

      let selectedSeats = []; // 선택된 요소를 저장할 배열
      let seats = document.querySelectorAll(".select");
      
      
      // 각 요소 클릭 이벤트 추가
      seats.forEach(function(seat) {
        seat.addEventListener("click", function(e) {
          let person = document.getElementById("person"); // 선택 가능한 인원 수
          let personCount = parseInt(person.getAttribute("person"))
          let seatNumber = seat.getAttribute("seatNumber");

          // 클릭 이벤트에서 이미 선택 상태인지 확인
          if (selectedSeats.includes(seat)) {
            // 클릭한 요소가 이미 선택 상태라면 초기 상태로 되돌림
            seat.style.backgroundColor = "";
            selectedSeats = selectedSeats.filter(s => s !== seat); // 선택 배열에서 제거
          } else {
            // 최대 인원 제한 확인
            if (selectedSeats.length >= personCount) {
              // 가장 오래 선택된 요소부터 초기 상태로 되돌림
              let removedSeat = selectedSeats.shift();
              removedSeat.style.backgroundColor = "";
            }

            // 선택한 요소 배경색 변경
            seat.style.backgroundColor = "#b0b0b0";
            selectedSeats.push(seat); // 선택 요소 배열에 추가
          }

          // 상태를 화면에 표시
          document.getElementById("seat").textContent = `${selectedSeats.map(seat => seat.getAttribute("seatNumber")).sort().join(", ")}`;
          document.getElementById("seat").setAttribute("seat",`${selectedSeats.map(seat => seat.getAttribute("seatNumber")).sort().join(",")}`);
        });
      });
      // 예매하기 버튼
      function reservation(){
        var person = "[[${person}]]";
        console.log(selectedSeats)
        var setnum = selectedSeats.length;
        console.log(setnum);
        if(person != setnum){
          alert("예약인원수만큼 좌석을 선택하시오")
          return;
        }

        // 결제 정보 가져오기
        let productName = document.getElementById('theater-info').textContent
        console.log('상품이름은 ' + productName);
        console.log('상품아이디는 ' + orderId);

        IMP.request_pay({
            pg : 'kcp',                                 // PG사
            pay_method : 'card', 
            merchant_uid: orderId,                       // 결제방식
            name : productName,                         // 상품명
            amount : '100',                              // 결제금액
            buyer_email : potEmail ,                        // 결제자 이메일
            buyer_name : potName,                          // 결제자 이름
            buyer_tel : '010-1234-1234',                            // 결제자 전화번호
            buyer_addr : '테스트 테스트대로',                       // 결제자 주소
            buyer_postcode : '1234-1234'                   // 결제자 우편번호
        }, function (rsp) { // callback
            if (rsp.success) {
                // 결제 성공
                console.log(rsp);
                // 결제 완료 페이지로 이동
                var person = document.getElementById("person").getAttribute("person"); // 예약 인원
                var seat = document.getElementById("seat").getAttribute("seat"); // 예약 좌석
                var id = "[[${theaterId}]]";
                var name = "[[${#authentication.name}]]";
                var money = "[[${money}]]"        
                // console.log(seat)
                // console.log(person);
                console.log(id);
                let data = {
                    'id' : id,
                    'seat': seat,
                    'person': person,
                    'userName' : name,
                    'money' : money
                };

                let request = new XMLHttpRequest();
                let url = '/m/p';
                request.open('POST', url, true);
                request.setRequestHeader('Content-Type', 'application/json');
                let csrfToken = "[[${_csrf.token}]]";
                request.setRequestHeader("X-CSRF-TOKEN", csrfToken);

                request.onreadystatechange = function () {
                    if (request.readyState === 4 && request.status === 200) {
                        window.location.href = '/m/payment';
                    }
                };

                request.send(JSON.stringify(data));
            } else {
                // 결제 실패
                console.log(rsp);
                return;
            }
        });

      }

  </script>





</body>
</html>
