<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINISTRATOR</title>
    <!-- bootstrap css --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/script/jquery.js"></script>
    <script src="/script/adminScript.js"></script>
    <style>
        .subLi{
            display: none;
        }
    </style>
</head>
<body>
    <div class="container-fluid" style="height: 98vh;">
        <br>
        <h1><a href="/admin">ADMINISTRATOR : <span class="adminTitle" sec:authentication="principal.user.name"></span></a></h1>
        <hr class="w-50 ms-0">
        <div class="row" style="height: 90%;">
            <div class="col-md-2">
                <div style="margin-top: 100px; font-size: 26px;">
                    <ul>
                        <li><a href="/admin/cinema">영화관</a></li>
                        <li><a href="/admin/movie/list">영화관리</a></li>
                        <li class="mainLi">
                            <a href="/admin/userManager/user/list" >유저관리</a>
                            <nav class="subLi">
                                <li><a href="/admin/userManager/user/list">유저 관리</a></li>
                                <li><a href="/admin/userManager/auth/list">권한 관리</a></li>
                            </nav>
                        </li>
                        <li><a href="/admin/banner/list" style="color: blue;">배너관리</a></li>
                        <li><a href="/admin/reviewManager/list">리뷰관리</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <h1 class="text-center">배너 관리</h1>
                <div class="container mt-5">
                  <table class="table table-striped table-hover">
                    <thead class="table-light">
                      <tr>
                        <th scope="col">이름</th>
                        <th scope="col">배너종류</th>
                        <th scope="col">영화</th>
                        <th scope="col">비고</th>
                      </tr>
                    </thead>
                    <tbody>
                      <th:block th:each="banner : ${bannerList}">
                          <tr style="line-height: 40px;">
                              <td th:text="${banner.name}"></td>
                              <td th:text="${banner.bannerDivi}"></td>
                              <td th:text="${banner.movie.title}"></td>
                              <td> 
                                <button class="btn btn-primary" 
                                type="button" th:onclick="select( [[${banner.id}]] )">조회</button>
                              </td>
                            </tr> 
                      </th:block>
                      <!-- 추가 행 삽입 -->
                    </tbody>
                  </table>
              </div>
            </div>


            <div class="col-md-2">
                <div style="margin-top: 100px; font-size: 26px;">
                    <ul class="mt-5">
                        <li><a href="/admin/banner/insert">배너 생성</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>
    </div>

    <script>
        function select( id ){
        window.location.href = '/admin/banner/select?id='+ id   // action 속성 변경                  // 요청 전송
      }
    </script>
</body>
</html>